@font-face {
    font-family: "GothamSSm";
    src: url("../fonts/GothamSSm-Book_Web.woff2") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: GothamSSm;
    font-weight: 500;
    background: #fff;
    color: #333;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    top: -20px;
    padding: 0 20px;
}

.navbar a {
    padding: 10px 7px;
    color: white;
    font-size: 8px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar .top-middle {
    margin-left: 118px;
}

/* Butten */
.btn-primary {
    font-weight: normal;
    font-size: 6px;
    border: #000000 1.5px solid;
    padding: 4px 24px;
    background-color: inherit;
    color: rgb(0, 0, 0);
}

.btn-primary:hover {
    font-weight: normal;
    font-size: 6px;
    border: #000000 1.5px solid;
    padding: 4px 24px;
    background-color: black;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

.btn-learn {
    border: none;
    background: none;
    font-weight: normal;
    font-size: 6px;
    cursor: pointer;
    text-align: center;
}

.svg-hover-dark:hover #circle-plus-btn {
    fill: black;
    transition: 0.5s;
}

.svg-hover-dark:hover #plus-btn {
    fill: rgb(255, 255, 255);
    transition: 0.5s;
}

/* Header */

.hero {
    background: url(../img/firstPage.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.hero .content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h4 {
    margin-top: 2.1rem;
    padding: 3rem 0 2.4rem 2.4rem;
}

.hero .content .firstPage-buttom-data a {
    font-size: 14px;
}

.hero .content .firstPage-buttom-data ul {
    width: 100%;
    display: flex;
    font-size: 10px;
    margin-bottom: 50px;
    font-weight: 750;
}

.hero .content .firstPage-buttom-data li {
    margin-left: 40px;
}

.hero .content .firstPage-buttom-data span {
    font-weight: normal;
    font-size: 6px;
}

.hero .content .firstPage-buttom-data button {
    font-weight: normal;
    font-size: 6px;
    border: hsl(0, 0%, 100%) 1.5px solid;
    padding: 4px 24px;
    background-color: inherit;
    color: white;
}

.hero .content .firstPage-buttom-data button:hover {
    font-weight: normal;
    font-size: 6px;
    border: hsl(0, 0%, 100%) 1.5px solid;
    padding: 4px 24px;
    background-color: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 150px;
    left: -5px;
    padding: 0 10px;
}

.side-bar ul li {
    position: relative;
}

.side-bar ul li a {
    padding: 10px 7px;
    font-size: 6px;
}

.side-bar ul li a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    background-color: rgba(190, 190, 190, 0.315);
    width: 1px;
    height: 15px;
}

.side-bar ul li a::after {
    content: attr(data-content);
    width: 70px;
    height: 1.4px;
    color: white;
    display: none;
}

.side-bar ul li a:hover::before {
    background-color: white;
}

.side-bar ul li a:hover::after {
    display: inline-block;
}

/* 2nd page */

.safety-page {
    height: 100vh;
    display: flex;
    position: relative;
    flex-basis: 100%;
}

.safety-page .car-pic-data {
    background: url(../img/secondPage.jpg) no-repeat center center/cover;
    flex: 5;
}

.safety-page .side-safety-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.safety-page .side-safety-data .top-data {
    font-size: 8px;
}

.safety-page .side-safety-data .top-data p {
    margin-top: 10px;
}

.safety-page .side-safety-data .buttom-btn {
}
.safety-page .side-safety-data .buttom-btn ul {
    display: flex;
    justify-content: space-around;
}

.safety-page .side-safety-data .buttom-btn ul li {
    display: flex;
    justify-content: space-between;
}

/* 3rd page */

.third-page {
}

.third-page .third-page-container {
    display: flex;
    position: relative;
    flex-basis: 100%;
    background: url(../img/thirdPage.jpg) no-repeat center center/cover;
    height: 80vh;
    justify-content: center;
    align-items: flex-end;
}

.third-page .thirdPage-buttom-data {
}

.third-page .thirdPage-buttom-data a {
}

.third-page .thirdPage-buttom-data ul {
    width: 100%;
    display: flex;
    font-size: 10px;
    font-weight: 750;
    margin-right: 75px;
}

.third-page .thirdPage-buttom-data li {
    margin-left: 40px;
    color: white;
    font-size: 14px;
    height: 100px;
    width: 135px;
    text-align: center;
}

.third-page .thirdPage-buttom-data p {
    font-weight: normal;
    font-size: 6px;
    line-height: normal;
    padding: 3px 0;
}

.third-page .thirdPage-footer {
    display: flex;
    position: relative;
    flex-basis: 100%;
    font-weight: normal;
    font-size: 6px;
    line-height: normal;
    padding: 3px 0;
    justify-content: center;
    height: 20vh;
}

.third-page .thirdPage-footer .left-side p {
}

.third-page .thirdPage-footer .right-side p {
}
