@font-face {
    font-family: "GothamSSm";
    src: url("../fonts/GothamSSm-Book_Web.woff2") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: GothamSSm;
    font-weight: 500;
    background: #fff;
    color: #333;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    top: -20px;
    padding: 0 20px;
}

.navbar a {
    padding: 5px 7px;
    color: white;
    font-size: 10px;
}

.navbar a:hover {
    background-color: #5b5d61;
    opacity: 1;
    transition: 1s;
}

.navbar ul {
    display: flex;
}

.navbar .top-middle {
    margin-left: 118px;
}

/* Butten */
.btn-primary {
    font-weight: normal;
    font-size: 12px;
    border: #000000 1.5px solid;
    padding: 4px 24px;
    background-color: inherit;
    color: rgb(0, 0, 0);
}

.btn-primary:hover {
    font-weight: normal;
    font-size: 12px;
    border: #000000 1.5px solid;
    padding: 4px 24px;
    background-color: black;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

.btn-learn {
    border: none;
    background: none;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}

.svg-hover-dark:hover #circle-plus-btn {
    fill: black;
    transition: 0.5s;
}

.svg-hover-dark:hover #plus-btn {
    fill: rgb(255, 255, 255);
    transition: 0.5s;
}

/* Header */

.hero {
    background: url(../img/firstPage.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.hero .content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h2 {
    margin-top: 8rem;
    padding: 3rem 0 2.4rem 2.4rem;
}

.hero .content .firstPage-buttom-data a {
    font-size: 28px;
}

.hero .content .firstPage-buttom-data ul {
    width: 100%;
    display: flex;
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 750;
}

.hero .content .firstPage-buttom-data li {
    margin-left: 40px;
}

.hero .content .firstPage-buttom-data span {
    font-weight: normal;
    font-size: 12px;
}

.hero .content .firstPage-buttom-data button {
    font-weight: normal;
    font-size: 12px;
    border: hsl(0, 0%, 100%) 1.5px solid;
    padding: 4px 24px;
    background-color: inherit;
    color: white;
}

.hero .content .firstPage-buttom-data button:hover {
    font-weight: normal;
    font-size: 12px;
    border: hsl(0, 0%, 100%) 1.5px solid;
    padding: 4px 24px;
    background-color: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 120px;
    height: 19vh;
    position: fixed;
    top: 400px;
    left: -5px;
    padding: 0px 10px;
    z-index: 1;
}

.side-bar ul li {
    position: relative;
}

.side-bar ul li a {
    padding: 10px 7px;
    font-size: 8px;
}

.side-bar ul li a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    background-color: rgba(190, 190, 190, 0.315);
    width: 2px;
    height: 15px;
}

.side-bar ul li a::after {
    content: attr(data-content);
    width: 70px;
    height: 1.4px;
    color: white;
    display: none;
}

.side-bar ul li a:hover::before {
    background-color: white;
}

.side-bar ul li a:hover::after {
    display: inline-block;
}

/* 2nd page */

.safety-page {
    height: 100vh;
    display: flex;
    position: relative;
    flex-basis: 100%;
}

.safety-page .car-pic-data {
    background: url(../img/secondPage.jpg) no-repeat center center/cover;
    flex: 5;
}

#rigid-structure svg {
    position: absolute;
    top: 28.5%;
    left: 49.5%;
}

#impact-protection svg {
    position: absolute;
    top: 50.5%;
    left: 30%;
}

#very-low-rollover-risk svg {
    position: absolute;
    top: 58.8%;
    left: 52.8%;
}

#rigid-structure .text-container {
    width: 20%;
    border-left: black 2px solid;
    height: 15%;
    position: absolute;
    color: black;
    top: 13.7%;
    left: 49.8%;
}

#impact-protection .text-container {
    width: 20%;
    border-left: black 2px solid;
    height: 20%;
    position: absolute;
    color: black;
    top: 30.8%;
    left: 30.3%;
}

#very-low-rollover-risk .text-container {
    width: 20%;
    border-left: black 2px solid;
    height: 20%;
    position: absolute;
    color: black;
    top: 59.8%;
    left: 53.1%;
}

#rigid-structure .text-container::after {
    content: "Rigid Structure";
    width: max-content;
    font-size: 16px;
    font-weight: normal;
    padding-left: 5%;
}

#impact-protection .text-container::after {
    content: "Impact Protection";
    width: max-content;
    font-size: 16px;
    font-weight: normal;
    padding-left: 5%;
}

#very-low-rollover-risk .text-container::after {
    content: "Very Low Rollover Risk";
    width: max-content;
    height: max-content;
    font-size: 16px;
    font-weight: normal;
    padding-left: 5%;
    position: absolute;
    text-align: end;
    bottom: 0;
}

.safety-page .side-safety-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.safety-page .side-safety-data .top-data {
    font-size: 16px;
}

.safety-page .side-safety-data .top-data p {
    margin-top: 10px;
}

.safety-page .side-safety-data .buttom-btn ul {
    display: flex;
    justify-content: space-around;
}

.safety-page .side-safety-data .buttom-btn ul li {
    display: flex;
    justify-content: space-between;
}

/* 3rd page */

.third-page {
}

.third-page .third-page-container {
    display: flex;
    position: relative;
    flex-basis: 100%;
    background: url(../img/thirdPage.jpg) no-repeat center center/cover;
    height: 80vh;
    justify-content: center;
    align-items: flex-end;
}

.third-page .thirdPage-buttom-data {
}

.third-page .thirdPage-buttom-data a {
}

.third-page .thirdPage-buttom-data ul {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: 750;
    margin-right: 12px;
    margin-bottom: 66px;
}

.third-page .thirdPage-buttom-data li {
    margin-left: 40px;
    color: white;
    font-size: 20px;
    height: 100px;
    width: 228px;
    text-align: center;
}

.third-page .thirdPage-buttom-data p {
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    padding: 3px 0px;
}

.third-page .thirdPage-footer {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    padding: 3px 0;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.third-page .thirdPage-footer .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-page .thirdPage-footer .left-side p {
    font-size: 12px;
    font-weight: 800;
}

.third-page .thirdPage-footer .left-side p span {
    font-weight: normal;
    font-size: 16px;
}

.third-page .thirdPage-footer .left-side ul {
    width: 235px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.third-page .thirdPage-footer .left-side li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.third-page .thirdPage-footer .right-side {
    width: 50%;
}
